
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }
  .sidenavR {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    float: right;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
  }
  
  .sidenav a,.sidenavR a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover,.sidenavR a:hover {
    color: #f1f1f1;
  }
  
  .sidenavR .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenavR {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenavR a {font-size: 18px;}
  }



  
  @-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(0.9,0.9);
    }
    50% {
        -webkit-transform: scale(1,1);
    }
    100%{
        -webkit-transform: scale(0.9,0.9);
    }
}

/* Standard syntax */
@keyframes zoom {
    0% {
        transform: scale(0.9,0.9);
    }
    50% {
        transform: scale(1,1);
    }
    100%{
        transform: scale(0.9,0.9);
    }
}


#imgZIO {
    -webkit-animation: zoom 10s; /* Chrome, Safari, Opera */
    animation: zoom 10s;
    animation-iteration-count: infinite;
}