<style>
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: darkcyan;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: cornflowerblue;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: dodgerblue;
  }

  #navbar {
    top: 0px;
    height: 50px;
  }

  #putHeaderHere {

    width: 100%;

  }

  #Modal {
    position: relative;
  }

  #hMain {
    top: 0;
    width: 100%;
    z-index: 5;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-lg bg-dark position-sticky border-bottom border-dark"
  id="hMain">

  <div *ngIf="isAdmin">
    <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  </div>
  &nbsp;
  <a class="navbar-brand" href="/">ShareEd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Explore
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <a class="dropdown-item" href="/Categories">Categories</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/Home">Home</a>




        </div>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg"></div>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

  </div>
  <div id="login" *ngIf="!loggedIN">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter1">
      Login
    </button>

    <!-- Modal -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter2">
      SignUp
    </button>

    <!-- Modal -->

  </div>
  <div *ngIf="loggedIN">
    <h3><span class="badge badge-dark">{{ uname }}</span></h3>
  </div>

</nav>


<div id="mySidenavR" class="sidenavR" >
  <a href="javascript:void(0)" class="closebtn" on-click="closeNav()">&times;</a>
  <a href="/CreateCategories">Create Categories</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="Modal">
  <div class="modal fade" id="exampleModalCenter2" show="false" tabindex="5" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalCenterTitle">SignUp</h6>
          <button type="button" id="openL" class="btn btn-light btn-link" data-dismiss="modal" data-toggle="modal"
            data-target="#exampleModalCenter1">
            Login
          </button>
        </div>
        <form (ngSubmit)="onRSubmit()" #regForm="ngForm">
          <div class="modal-body">


            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="SEmail" [email]="true" name="email" required
                [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>


            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password" required minlength="7"
                maxlength="30" id="SPassword" placeholder="Password">
            </div>

            <div class="form-group">
              <label for="exampleInputName1">Name</label>
              <input type="text" required minlength="5" #nameC="ngModel" [(ngModel)]="name" class="form-control"
                id="name" name="name" maxlength="30" placeholder="Enter Name">

            </div>

          </div>
          <div class="modal-footer m-auto">
            <button type="button" id="closeS" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>

            <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-primary btn-sm">SignUp</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter1" tabindex="5" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalCenterTitle">Login</h6>
          <button type="button" class="btn btn-link btn-light" data-dismiss="modal" data-toggle="modal"
            data-target="#exampleModalCenter2">
            SignUp
          </button>
        </div>
        <form (ngSubmit)="onLSubmit()" #loForm="ngForm">
          <div class="modal-body">



            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" [email]="true" name="lemail" [(ngModel)]="lemail"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" [(ngModel)]="lpass" name="lpass" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
            </div>



          </div>
          <div class="modal-footer m-auto">
            <button type="button" id="closeL" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="!loForm.form.valid" class="btn btn-sm btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>