<br>
<br>

<div class="card card-body m-auto w-75" style="background-color:white;">
   
    <br>
    <br>
    <!-- Contact us -->
    <div id="tu">
    <h4 class="text-center display-3 m-auto" >Contact Us</h4>
    <hr class="mw-100 w-auto border-secondary">
    <br>
    <h3 class="text-dark" style="font-family: Helvetica, sans-serif; font-size:40px;">Need Help ?</h3>
    <br>
    <p class="text-secondary text-wrap " style="font-family:sans-serif; font-size: 20px; ">If you’re a learner on the ShareEdu platform and have questions or need technical assistance, please visit our Learner Help Center for platform tutorials, FAQs or to chat with a member of our Customer Support team.</p>
    <br>
    <h3 class="text-dark" style="font-family: Helvetica, sans-serif; font-size:40px;">Email-ID</h3>
    <br>
    <p class="text-secondary text-wrap " style="font-family:sans-serif; font-size: 20px; ">
        <a href="mailto:abc@gmail.com">abc@gmail.com</a>
    </p>
    <br>
    <h3 class="text-dark" style="font-family: Helvetica, sans-serif; font-size:40px;">Phone-No</h3>
    <br>
    <p class="text-secondary text-wrap " style="font-family:sans-serif; font-size: 20px; ">98252130201</p>
    </div>

    <!-- term of use end  -->
    

</div>