<bR>
<div class="btn-group btn-group-toggle btn-group-lg w-100 m-auto" data-toggle="buttons">

  <button class="btn  btn-outline-dark" (click)="showAvail()"> Availed Subscription</button>
  <button class="btn   btn-outline-dark" (click)="shownotAvail()"> Available Subscription</button>
</div>
<br>
<br>
<div class="container container-fluid" *ngIf="availFlag"  data-aos="zoom-in" data-aos-duration="1000">
  <div class="card-deck" *ngIf="userCatList.length!=0">
  <div class="card" *ngFor="let bn of userCatList">

    <div class="card-header"> {{ bn.category }} </div>
    <div class="card-body">
      <button class="btn btn-outline-dark alert alert-danger" (click)="unsubCourse(bn.category)">Unsubscribe</button>
    </div>
  </div>
</div>
<div *ngIf="userCatList.length==0">
  <label class="alert alert-danger text-center w-100"> You Haven't Availed For any course.</label>
</div>

</div>

<div class="container container-fluid" *ngIf="notavailFlag "  data-aos="zoom-in" data-aos-duration="1000">
  <div class="card-deck" *ngIf="notavailList.length!=0">
  <div class="card"  *ngFor="let bn of notavailList">

    <div class="card-header"> {{ bn.name }} </div>
    <div class="card-body">
      <button class="btn btn-outline-dark alert alert-success" (click)="subCourse(bn.name)">Subscribe</button>
    </div>


  </div>
  <div *ngIf="notavailList.length==0">
    <label class="alert alert-danger text-center w-100"> Currently no course available.</label>
  </div>
</div>