<div class="container" data-aos="zoom-in" data-aos-duration="3000">
    <div class="row m-auto d-block" data-aos="zoom-out">
        <h2 class="text-center font-weight-bolder font-italic text-primary">We envision a world where anyone,</h2>
        <h2 class="text-center font-weight-bolder font-italic text-primary">anywhere can transform their life by</h2>
        <h2 class="text-center font-weight-bolder font-italic text-primary">accessing the world’s best learning</h2>
        <h2 class="text-center font-weight-bolder font-italic text-primary">experience.</h2>
    </div>
        <hr class="my-5  mw-100 w-auto border-secondary">
    <div class="row" data-aos="zoom-out-left">
        <div class="col-7">
            <h2 class="text-dark font-weight-bold" style="font-family: Helvetica, sans-serif">Courses</h2>
           <p class=" text-secondary text-wrap" style="font-size: 20px"><i>Learn something new</i><br> Every course on ShareEd is taught by top instructors from world-class universities and companies, so you can learn something new anytime, anywhere. Hundreds of free courses give you access to on-demand video lectures, homework exercises, and community discussion forums. Paid courses provide additional quizzes and projects as well as a shareable Course Certificate upon completion.</p>
           <ul class="font-weight-bold" style="font-size: 20px">
               <li>100% online</li>
               <li>Learn something new in 4-6 weeks</li>
               <li>Priced starting at about $39 (USD)</li>
               <li>Earn a Course Certificate</li>   
            </ul>
            <br>
            <a href="/SubscribeCategory"><button type="submit"  class="btn btn-primary">Find courses</button></a>
            <br>
        </div>
        <div class="col-1">
            <img src="../../assets/Image/course-collection-hero-img.png" height="300px" width="600px">
        </div>
    </div>
    <hr class="my-5  mw-100 border-secondary" width="100%">
    <div class="row" >
            <div class="col-7">
                <img src="../../assets/Image/screen-course-mockup-01-1.jpg" height="500px" width="600px" >
            </div>
            <div class="col-5">
                    <h2 class=" font-weight-bolder font-weight-bold text-dark"   style="font-family: Helvetica, sans-serif">Specializations</h2>
                   <p class="font-weight-lighter text-secondary text-wrap" style="font-size: 20px"><i>Master a skill </i><br> If you want to master a specific career skill, consider enrolling in a Specialization. You’ll complete a series of rigorous courses at your own pace, tackle hands-on projects based on real business challenges, and earn a Specialization Certificate to share with your professional network and potential employers.</p>
                   <ul class="font-weight-bold" style="font-size: 20px">
                       <li>100% online</li>
                       <li>Learn something new in 4-6 months
                       </li>
                       <li>Priced starting at about $39 (USD) per month</li>
                       <li>Earn a Specialization Certificate</li>   
                    </ul>
                    <br>
                    <a routerLink="/SubscribeCategory"><button type="submit"  class="btn btn-primary">Find courses</button></a>
                    <br>
            </div>
    </div>
    <hr class="my-5  mw-100 w-auto border-secondary" >
    <div class="row" data-aos="zoom-out-right">
            <div class="col-7">
                <h2 class=" font-weight-bolder font-weight-bold text-dark" style="font-family: Helvetica, sans-serif">Professional Certificates</h2>
               <p class="font-weight-lighter text-secondary text-wrap" style="font-size: 20px"><i>Get job-ready for an in-demand career</i><br> Whether you’re looking to start a new career or change your current one, Professional Certificates on ShareEd help you become job-ready. Learn at your own pace from top companies and universities, apply your new skills to hands-on projects that showcase your expertise to potential employers, unlock access to career support resources, and earn a career credential to kickstart your new career.</p>
               <ul class="font-weight-bold" style="font-size: 20px">
                   <li>100% online</li>
                   <li>Get job-ready in less than a year with hands-on projects</li>
                   <li>Priced starting at about $39 (USD)</li>
                   <li>Earn a shareable Certificate</li>   
                </ul>
                <br>
                <a href="/SubscribeCategory"><button type="submit"  class="btn btn-primary">Find courses</button></a>
                <br>
            </div>
            <div class="col-1">
                <img src="../../assets/Image/1_okl_iX1ZUqETa8M5hYSisA.png" height="300px" width="600px">
            </div>
    </div>
    <hr class="my-5  mw-100 w-auto border-secondary">
    <!-- <div class="row">
        <div class="col-6 w-50 m-auto d-block">
            <div class="card">
                <div class="card-header bg-primary" style="height: 50px" ></div>
                <div class="card-body"><img src="sac.jpg"  class="card-img w-25 m-auto d-block"><br><br></div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6 w-50 m-auto d-block">
                <div class="card">
                    <div class="card-header bg-primary" style="height: 50px" ></div>
                    <div class="card-body"><img  src="/Image/all.png"  class="card-img w-25 m-n5 d-block"><br><br></div>
                    <div class="card-footer"></div>
                </div>
        </div>
        <h1 class="d-block" style="margin:5% 40% " >CREATORS</h1>
    </div>
    <hr class="my-5 border-secondary">
    <br>
    <br>
    <br>        
    <br>
    <br>
    <br> -->




</div>

