.content {
    position: relative;
    bottom: 275px;
    
    
    /*background: rgba(0, 0, 0, 0.5);
    */color: #f1f1f1;
    width: 100%;
    }

    @-webkit-keyframes zoom {
        0% {
            -webkit-transform: scale(1,1);
        }
        50% {
            -webkit-transform: scale(1.1,1.1);
        }
        100%{
            -webkit-transform: scale(1,1);
        }
    }
    
    /* Standard syntax */
    @keyframes zoom {
        0% {
            transform: scale(0.9,0.9);
        }
        50% {
            transform: scale(1,1);
        }
        100%{
            transform: scale(0.9,0.9);
        }
    }
    
    
    #contentBacks,#imgZIO {
        -webkit-animation: zoom 10s; /* Chrome, Safari, Opera */
        animation: zoom 10s;
        animation-iteration-count: infinite;
    }


    .btn {
        border: 1px solid #0ab4b4;
        background: rgba(20, 20, 20, 0.6);
        font-size: 18px;
        color: white;
        margin-top: 20px;
        padding: 10px 50px;
        cursor: pointer;
        transition: .4s;
      }
      .btn:hover {
        background: rgba(20, 20, 20, 0.8);
        padding: 10px 80px;
      }

      .extend{
          padding: 10px 50px;
      }
      .extend:hover{
          padding: 10px 80px;
      }