<br>
<div class=" container-fluid bg-transparent border border-info shadow-lg">
    <label class="form-text text-truncate text-center display-4">Select Course</label>
    <select class="form-control custom-select-lg w-25 m-auto" required [(ngModel)]="pageCourse" (change)="updatePage()">
        <option *ngFor="let item of clist" value="{{item.category}}">{{item.category}}</option>
    </select>
    <hr>
    <div *ngIf="tempFlag">
    <p class="m-auto card-header d-block display-4 text-center">Textbooks for {{pageCourse}}</p>
    <table id="customers" class="table table-hover table-striped shadow-lg bg-light" *ngIf="!noTextbook; else elseBLC">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of selectedTextbook;index as i">
                <td>{{i}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Author}}</td>
                <td><button class="btn btn-block btn-sm btn-outline-secondary" (click)="show(item.Path)">Show</button></td>
            </tr>
        </tbody>
    </table>
    
    <ng-template *ngIf="!toogleTextbook || noTextbook">
            <div class="alert alert-danger">
                Click on show from above textbook
            </div>
    </ng-template>
    <ng-template #elseBLC class="card bg-transparent font-weight-lighter alert-danger alert">
        <div class="text-black-50 text-center display-2 text-danger">
                No textbook found
        </div>
    </ng-template>
    
<div class="card card-body bg-transparent" *ngIf="toogleTextbook">
    <pdf-viewer src="{{filePath}}"></pdf-viewer>
</div>
</div>
</div>
