<div class="container container-fluid" *ngIf="courseList.length!=0; else elseBlock" data-aos="slide-up" data-aos-duration="1000">
    <div class="card-group scrollmenu">
        <a class="btn btn-link btn-outline-light border border-info" (click)="showCourseDetailsFor(svar.category)" *ngFor="let svar of courseList">
            {{ svar.category }}
        </a>

    </div>

</div>
<ng-template #elseBlock>
    <div class="header">
        <label class="text-center alert alert-danger w-100">You aren't subscribed to any course.</label>
        <label class="text-center w-100">To avail course,<a href="/SubscribeCategory" class="btn btn-link">Click
                Here</a></label>
    </div>
</ng-template>
<div *ngIf="courseList.length!=0"  data-aos="zoom-out" data-aos-duration="1000">
    <div class="container" *ngIf="courseDetailFlag; else elseBlock2">

<hr>

        <div class="card shadow-lg" id="divM" *ngIf="!noVideo; else elseblock3"  data-aos="slide-up" data-aos-duration="1000">
            <div class="card-header">
                <h4 id="item-2" class="text-center">{{ selectedCourse }}</h4>
            </div>
            <div class="card-body">


                <div class="d-flex">
                    <div class="card-columns">
                        <div class="alert alert-danger text-center card w-100 m-auto" *ngIf="videosForSelectedCourse.length==0">
                            No video for this category.
                        </div>
                        <div class="card w-auto" *ngFor="let video of videosForSelectedCourse;index as i">
                            <div class="card-header">
                            <p style="font-family: cursive; color: dodgerblue;"> {{video.name}}

                               <span id="tick{{video.name.replace(' ','')}}" class="text-success float-right display-4" style="font-size: 33px; visibility: hidden;;">&#10003;</span>
                            
                            </p>
                            </div>
                            <div class="card-body w-100"  data-aos="slide-up" data-aos-duration="1500">
                                <video controls class="w-100" preload="none" (ended)="videoFinished(video.name)"  poster="../../assets/Image/VideoIcon.jpg">
                                    <source src="{{video.path}}" type="video/mp4">
                                </video>
                                <button class="btn btn-outline-primary btn-block btn-sm" type="button" value="{{video.name.replace(' ','')}}"
                                    onclick="toogleDescription(event.target.value)" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Description
                                </button>

                            </div>
                            <div class="card-footer collapse" id="{{ video.name.replace(' ','') }}">

                                <p class="text-center text-justify text-capitalize"> {{video.description}} </p>
                            </div>
                            <div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <ng-template  #elseblock3>
           <div class="card card-header text-center w-100 m-auto">
            No Video Currently available for this Category.
           </div>
        </ng-template>



    </div>
    <ng-template class="container" #elseBlock2>
        <div class="header">
            <label class="text-center alert alert-danger w-100">Please Click/Select on/from above course.</label>
        </div>
    </ng-template>
</div>