<div class="container container-fluid" *ngIf="courseList.length!=0; else elseBlock">
    <div class="card-group scrollmenu">
        <a class="btn btn-link" (click)="showCourseDetailsFor(svar.category)" *ngFor="let svar of courseList">
            {{ svar.category }}
        </a>

    </div>

</div>
<ng-template #elseBlock>
    <div class="header">
        <label class="text-center alert alert-danger w-100">You aren't subscribed to any course.</label>
        <label class="text-center w-100">To avail course,<a href="/SubscribeCategory" class="btn btn-link">Click
                Here</a></label>
    </div>
</ng-template>
<div *ngIf="courseList.length!=0">
    <div class="container" *ngIf="courseDetailFlag; else elseBlock2">



        <div class="card" id="divM" *ngIf="!noVideo; else elseblock3">
            <div class="card-header">
                <h4 id="item-2">{{ selectedCourse }}</h4>
            </div>
            <div class="card-body">


                <div class="d-flex">
                    <div class="card-columns">

                        <div class="card w-auto" *ngFor="let video of videosForSelectedCourse;index as i">
                            <div class="card-header">
                                {{video.name}}
                            </div>
                            <div class="card-body w-100">
                                <video controls class="w-100">
                                    <source src="{{video.path}}" type="video/mp4">
                                </video>
                                <button class="btn btn-outline-primary btn-block btn-sm" type="button" value="{{video.name}}"
                                    onclick="toogleDescription(event.target.value)" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Description
                                </button>

                            </div>
                            <div class="card-footer collapse" id="{{ video.name }}">

                                <p class="text-center text-justify text-capitalize"> {{video.description}} </p>
                            </div>
                            <div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <ng-template class="card card-header text-center" #elseblock3>
            No Video Currently available for this Category.
        </ng-template>



    </div>
    <ng-template class="container" #elseBlock2>
        <div class="header">
            <label class="text-center alert alert-danger w-100">Please Click/Select on/from above course.</label>
        </div>
    </ng-template>
</div>