<script>
</script>
<link href="../../../node_modules/aos/dist/aos.css">
<br>

<div id="content" class="container-fluid" data-aos="fade-up" data-aos-duration="1500">
  <div class="container-fluid w-auto h-auto" style="height:20em; border: none;">
    <div class="card card-body w-100 h-auto" style="border: none;">
      <video autoplay muted class="w-100" style="height: 600px; size: 800px; background-color: black;  size: 100%;"
        id="myVideo" src="../../assets/Video/Vid1.mp4" aria-hidden="true"></video>
      <div class="card card-body content shadow-lg" style="bottom:350px; background-color: transparent;">
        <h5 class="text-white text-justify text-center" id="text2"></h5>
        <button id="vidBtn" class="btn btn-block btn-outline-light w-25 m-auto" data-toggle="modal" [disabled]="loggedIn"
          data-target="#exampleModalCenter1">Join Us</button>
      </div>
    </div>
  </div>

  <hr class="border border-dark">

  <div class="container my-5" data-aos="slide-down">
    <p class="display-4 text-justify text-center " data-aos="zoom-in-left" data-aos-duration="500">All Categories</p>
    <div class="card-columns">

      <div class="card w-auto" data-aos="slide-down">
        <div class="card-header">
          Video1
        </div>
        <div class="card-body w-100">
          <video controls class="w-100" preload="none" poster="../../assets/Image/VideoIcon.jpg">
            <source src="../../assets/Video/How to Select Your First Programming Language.mp4" type="video/mp4">
          </video>
        </div>
        <div>

        </div>
      </div>

      <div class="card w-auto" data-aos="slide-down" data-aos-duration="1000">
        <div class="card-header" data-aos="slide-up" >
          Video2
        </div>
        <div class="card-body">
          <video controls class="w-100" preload="none" poster="../../assets/Image/VideoIcon.jpg" data-aos="slide-down">
            <source
              src="../../assets/Video/y2mate.com - we_talked_to_sophia_the_ai_robot_that_once_said_it_would_destroy_humans_78-1MlkxyqI_1080p.mp4"
              type="video/mp4">
          </video>
        </div>
      </div>

      <div class="card w-auto" data-aos="slide-down">
        <div class="card-header">
          Video3
        </div>
        <div class="card-body">
          <video controls class="w-100" preload="none" poster="../../assets/Image/VideoIcon.jpg" data-aos="slide-down">
            <source
              src="../../assets/Video/y2mate.com - java_vs_python_comparison_which_one_you_should_learn_edureka_s3Ejdx6cIho_1080p.mp4"
              type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <a class="btn-link btn-outline-light text-justify text-center " href="/Categories">
      <h5 class="font-weight-lighter">More...</h5>
    </a>
  </div>

  

  <div class="container-fluid" data-aos="zoom-out">
    <div class="bd-example text-dark">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/Image/Chem.jpg"  class="d-block w-100 " height="550px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Chemistry</h5>
              <p>Chemistry must become the astronomy of the molecular world.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/Image/Math.jpg" class="d-block w-100" alt="..." height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Maths</h5>
              <p>The beauty of mathematics only shows itself to more patient followers.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/Image/Physics.jpg" class="d-block w-100" alt="..." height="550px">
            <div class="carousel-caption d-none d-md-block">
              <h5>Physics</h5>
              <p>Physics is, hopefully, simple. Physicists are not. </p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev text-dark" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-dark" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <hr class="border">


  <div class="container-fluid m-auto  w-auto" data-aos="slide-down">
    <div class="row">
      <div class="col-lg-12 m-auto" style="text-align: center;">
        <h2>Why ShareEdu?</h2>
      </div>
    </div>
    <div class="row d-inline-flex" style="margin-top:50px; " data-aos="slide-down">
      <div class="card col-3 w-auto m-auto">
        <div class="card-body"><img src="../../assets/Image/LearnAnywhere.jpg" class="card-img  m-auto" /></div>
        <div class="card-footer">
          <h5 class="text-center">Learn by Doing.</h5>
        </div>
      </div>
      <div class="card col-3 w-auto m-auto" data-aos="slide-down">
        <div class="card-body"><img src="../../assets/Image/LearnAnywhere.jpg" class="card-img m-auto" /></div>
        <div class="card-footer">
          <h5 class="text-center">Learn with Others.</h5>
        </div>
      </div>
      <div class="card col-3 w-auto m-auto" data-aos="slide-down">
        <div class="card-body"><img src="../../assets/Image/LearnAnywhere.jpg" class="card-img m-auto" /></div>
        <div class="card-footer">
          <h5 class="text-center"> Learn for the Future.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="height: 20em; margin:10em 0em 10em 0em;" data-aos="zoom-in">
    <div class="card-body "
      style="background-image: url(../../assets/Image/LearnAnywhere.jpg); background-size:100em 35em; opacity: 0.95; background-repeat:no-repeat;">
      <br>
      <blockquote class="blockquote">
        <br>
        <p class="mb-0  text-justify text-white" id="text" style="opacity: 1;"></p>
        <footer class="blockquote-footer text-capitalize text-dark" style="opacity: 1; padding-left: 2em;"><cite
            title="Source Title">BENJAMIN FRANKLIN</cite></footer>
      </blockquote>

    </div>
  </div>
  <p class="display-2 text-capitalize text-justify text-center" data-aos="slide-down">Our Motto</p>
  <hr class="border">
  <div class="card bg-transparent" data-aos="zoom-out-right" >
    <img src="../../assets/Image/ShareQuote.jpg" >
  </div>
  <hr class="border">
  <div class="row w-100 text-center" data-aos="fade-up-left">
  
    <div class="col-sm-3 m-auto">
      <div class="card" style="border: none;">
        <div class="card-body">

          <p class="text-primary">ShareEdu</p>
          <a routerLink="/AboutUs" class="btn-link alert-primary">About</a><br>
          <a routerLink="" class="btn-link alert-primary">Careers</a>

        </div>
      </div>
    </div>
  </div>
</div>
